<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <i class="fab fa-aws logo-icon"></i>
                <h2>EpicBooks AWS Architecture</h2>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../phases/phase1-network.html">Tutorials</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="https://www.linkedin.com/in/santhosh-kumar-raju-dasararaju-5905a81b3/" target="_blank">Contact</a></li>
                    
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 EpicBooks AWS Architecture Blog. All rights reserved.</p>
        </div>
    </div>
</footer>